@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #5a2a82;
  --primary-hover: #4a2268;
  --background-color: #f4f4f5;
  --text-color: #09090b;
  --border-color: #e4e4e7;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}